template(name="betsClose")

  +contentFor "headerButtonLeft"
    +ionNavBackButton(path="bets.pending")

  +contentFor "headerTitle"
    h1.title=subject

  +ionView
    +ionContent(class="padding")
      .list.card

        .item
          h2.centered=subject
          p
            | Lancé le
            =creationDate
        .item-body
          if isEndedAwaitingWinner
            .row
              .col.centered
                | Sélectionnez le gagnant :
            .row
              .col.col-50.centered.hoverable(data-action="set-winner" data-guess=yes_player_name)
                h3 Oui
                img.medium(src="/default_avatar.png")
                p=yes_player_name
              .col.col-50.centered.hoverable(data-action="set-winner" data-guess=no_player_name)
                h3 Non
                img.medium(src="/default_avatar.png")
                p=no_player_name
          else
            .row
              .col.col-50.centered
                h3 Oui
                img.medium(src="/default_avatar.png")
                p=yes_player_name
              .col.col-50.centered
                h3 Non
                img.medium(src="/default_avatar.png")
                p=no_player_name
          .row
            .col
              h4 Gain
              p=profit
          if isPending
            button.button.button-block.button-positive(data-action="close-bet") Terminer le pari
