template(name="betsPending")
  +ionSideMenuContent
    +ionNavView
      +ionView
        +_tabsHeader

    +ionContent
      +ionList
        each bets
          +ionItem( path="bets.close" _id=this._id buttonRight=true avatar=true)
            img(src="https://randomuser.me/api/portraits/thumb/men/27.jpg")
            h2= subject
            p test 1
            button.button.button-positive
              +ionIcon(icon="ios-telephone")
        //- +ionItem(buttonRight=true avatar=true)
        //-   img(src="https://randomuser.me/api/portraits/thumb/men/27.jpg")
        //-   h2 Titre1
        //-   p test 1
        //-   button.button.button-positive
        //-     +ionIcon(icon="ios-telephone")


      .padding
        a.button.button-positive.button-block(href="{{pathFor route='bets.new'}}" title="Home, sweet home") New bet

    +_tabs








  //- +ionView
  //-   +_tabsHeader

  //-   +ionContent
  //-     +ionList
  //-       each bets
  //-         +ionItem(buttonRight=true avatar=true)
  //-           img(src="https://randomuser.me/api/portraits/thumb/men/27.jpg")
  //-           h2= subject
  //-           p test 1
  //-           button.button.button-positive
  //-             +ionIcon(icon="ios-telephone")
  //-       //- +ionItem(buttonRight=true avatar=true)
  //-       //-   img(src="https://randomuser.me/api/portraits/thumb/men/27.jpg")
  //-       //-   h2 Titre1
  //-       //-   p test 1
  //-       //-   button.button.button-positive
  //-       //-     +ionIcon(icon="ios-telephone")


  //-     .padding
  //-       a.button.button-positive.button-block(href="{{pathFor route='bets.new'}}" title="Home, sweet home") New bet

  //-   +_tabs